html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
  overflow-x: hidden;
}

.navbar {
  background-color: #038928;
  padding: 0.8rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  max-width: 118rem;
  margin: 0 auto;
}

.flex-container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.flex-align-start {
  align-items: flex-start;
}

.navbar a {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.3rem 2rem;
  width: 14rem;
  text-align: center;
}

.navbar a:not(:last-child) {
  border: 1px solid #fff;
}

.navbar a:hover {
  text-decoration: none;
  border: 1px solid #fff;
}
.section1 {
  width: 73%;
}

.box {
  background-color: #fff;
  box-shadow: 0px 2px #999999ad;
  padding: 2rem;
}

.margin-top-medium {
  margin-top: 2rem;
}

.margin-left-medium {
  margin-left: 18.5%;
}

.heading-title {
  font-size: 2.1rem;
  color: rgb(160, 150, 150);
  font-weight: 400;
  margin-bottom: 1rem;
}
p {
  color: rgb(160, 150, 150);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-left: 10px;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(160, 150, 150);
  margin-bottom: 1rem;
  letter-spacing: -1px;
  margin-left: 10px;
}

label {
  display: inline-block;
  color: #333333;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: right;
  background-color: #f6f6f6;
  padding: 0.8rem;
  width: 35%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

form input {
  padding: 1rem;
  width: 35%;
  border-radius: 0px;
  border: 1px solid #bbc3c6;
}

form input:focus {
  outline: none;

  border: 1px solid #2fa8ac;
  border-radius: 0px;
}

form div {
  width: 100%;
  margin-bottom: 1rem;
}

.checkbox-label {
  display: inline;
  background-color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  color: #6666;
}

form #checkbox {
  margin-left: 35%;
  width: auto;
}
.btn {
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  background-color: #2ea8ab;
  font-size: 1.5rem;
}

.btn-small {
  display: inline-block;
  text-align: center;
  width: 3.5rem;
}

.padding-all {
  margin-left: 35%;
  width: 35%;
  padding: 1.1rem 2.4rem;
  text-align: center;
  background-color: #fff;
  border: 2.5px solid #2ea8ab;
  color: #2ea8ab;
}
div a {
  text-decoration: none !important;
  color: #2ea8ab;
  font-weight: 500;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #2fa8ac;
}

a:hover {
  text-decoration: underline;
}

/* .section1:hover {
  text-decoration: none;
  background-color: #2ea9ab98;
} */

.last-text {
  margin: 1.5rem 0px;
  margin-left: 35%;
  width: 35%;
}

.section2 {
  width: 25%;
}

.collapse-link {
  display: flex;
  justify-content: center;
}

.collapse-text {
  display: inline-block;
  padding: 8px 12px;
  background-color: #e4e5e9;
  color: #333;
  font-weight: 400;
  font-size: 1.4rem;
  width: 100%;
  border-bottom: 1px solid rgba(153, 153, 153, 0.418);
}

.first-section {
  margin: 1rem 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.37);
}
.expandable {
  background: #fff;
  overflow: hidden;
  color: #333;
  line-height: 1.3;

  transition: all 0.5s ease-in-out;
  height: 0;
}

.expandable:target {
  height: 100px;
}
.footer {
  /* position: absolute;
  top: 0; */
  width: 100%;
  margin-top: 15px;
}
.footer p,
.footer a {
  font-size: 1.2rem;
}

.footer p {
  color: #a1a1a1;
}

.footer .row1 a:not(:last-child) {
  margin-right: 4rem;
}

.footer .row1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.footer .row2 {
  display: flex;
  justify-content: space-between;
}

.customer {
  text-align: left;
  background-color: #fff !important;
  color: rgb(160, 150, 150);
  font-weight: 400;
}

select {
  display: inline-block;
  overflow-y: hidden;
  padding: 1rem;
  width: 35%;
  border-radius: 0px;
  border: 1px solid #bbc3c6;
}

select:focus {
  border: 2.5px solid #2ea8ab;
  outline: none;
}

.rotate {
  background-color: #2ea8ab;
  color: #fff;
  padding: 11px;
  text-align: center;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.last-para i {
  color: #7fbf35;
  font-size: 15px;
  transform: rotate(40deg);
}
.para {
  display: inline-block;
}
p span {
  color: rgb(226, 37, 37);
  font-weight: bold;
}

.last-para {
}

hr {
  background-color: rgb(240, 233, 233);
  height: 2px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(180, 175, 175);
  margin: 10px 0px;
  margin-right: 10px;
}

.rotate:hover {
  background-color: rgb(61, 202, 204);
}

.below-header {
  margin: 14px 75px 0;
  width: 100%;
  overflow-x: hidden;
}

.below-header p {
  display: inline;
}

.line-1 {
  width: 100%;
  height: 1px;
  background-color: rgb(180, 175, 175);
  margin: 10px 0px;
  overflow-x: hidden;
}

.below-header span {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  line-height: 1.7;
  margin: 0 2px 2px;
  color: rgb(180, 175, 175);
}
.below-header .para-0 {
  margin-left: 0 !important;
}

.wrapper {
  display: flex;
  border: 1px solid rgb(180, 175, 175);
  padding: 10px 0;
}

h4 {
  margin-left: 10px;
  color: #7fbf35;
  font-size: 15px;
  margin-bottom: 5px;
}

h4 span {
  width: 100px;
  height: 100px;
  background-color: #7fbf35;
  color: #fff;
  border-radius: 50%;
  padding: 1px 3.5px;
  text-align: center;
  font-size: 12px;
}

.row-1 p {
  font-size: 12px;
  margin-top: 10px;
}

.wrapper .climb {
  position: relative;
  bottom: 20px;
  left: 50%;
  font-size: 14px;
  color: rgb(160, 150, 150);
}

#warning {
  height: 0px;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

#warning i {
  display: inline-block;
  color: red;
  margin: 10px;
}

#warning h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: 400;
  color: red;
  margin: 10px;
  position: relative;
  bottom: 4.5px;
  left: -10px;
}

.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 10;
}

.loader {
  width: 100%;
  height: 16px;
  background-color: #038928;
  position: absolute;
  bottom: 0;
  animation: loading 5s linear;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
